	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>library</th>
				<th>bookname</th>
				<th>author</th>
                <th>genres</th>
                <th>readerscard</th>
                <th>user</th>
				<th></th>
			</tr>
		</thead>
        <th></th>
        <%= render 'form' %>
	</table>